@import "tailwindcss";

.blinking-underscore {
  animation: blink 1s steps(3, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
.txt-gradient {
  background: linear-gradient(180deg, #b7ff3c, #26d53a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.tasa-explorer {
  font-family: "TASA Explorer", sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}
