@import "tailwindcss";

.blinking-underscore {
  animation: blink 1s steps(3, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
.txt-gradient {
  background: linear-gradient(180deg, #b7ff3c, #26d53a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.tasa-explorer {
  font-family: "TASA Explorer", sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

pre[class*="language-"] {
  background: black !important;
  font-size: 14px;
  line-height: 1.6;
  padding: 1rem;
  overflow: hidden;
}

.token.keyword {
  color: #569cd6 !important;
}

.token.string {
  color: #ce9178 !important;
}

.token.function {
  color: #c586c0 !important;
}

.token.variable,
.token.parameter {
  color: #9cdcfe !important;
}

.token.punctuation {
  color: #d4d4d4 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-underline {
  position: relative;
  font-weight: 500;
  text-decoration: none;
}

.gradient-underline {
  position: relative;
  font-weight: 500;
  text-decoration: none;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #e7ff87 5%, #cffe19 40%, #6bde35 90%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.gradient-underline:hover::after {
  transform: scaleX(1);
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-end infinite;
}
